body{
    box-sizing: border-box;
}
#NAVBAR{
    height:8rem;
    position: relative;
    padding: 1%;
    background-color: white;
}
#nav-title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: white;
    text-decoration: none;
}
#items{
    align-items: center;
    margin-left: 20rem;
}
.nav-item{
    color: yellow;
}
