
<nav class="navbar navbar-expand-lg navbar-light bg-dark" id="NAVBAR">
    <a class="navbar-brand" id="nav-title" href="/">timeCAP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" id="items">
        <li class="nav-item {% block homeactive %} {% endblock homeactive %}">
          <a class="nav-link text-light" href="">Home <span class="sr-only">(current)</span></a>
        </li> 
        <li class="nav-item {% block capsulesactive %} {% endblock capsulesactive %}">
          <a class="nav-link text-light" href="{% url "publicCapsules" %}">capsules <span class="sr-only">(current)</span></a>
        </li> 
      </ul>
      
      {% if user.is_authenticated %}
      <ul class="navbar-nav mr-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown"><b> Welcome {{request.user}}</b></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
      {% else %}
        <button type="button"  class="btn btn-success mr-2">
            <a href="/login" style="text-decoration: none; color:white">Login</a>
        </button>
      {% endif %}
    </div>
  </nav>