{% extends "base.html" %}
{% load static %}

{% block css %}

{% endblock css %}

{% block body %}

<div class="p-5 container">
    <div class="row-lg-12  text-center" >
        <a class="btn btn-outline-info" href="{% url "publicCapsules" %}" >Public Capsules</a>
        <a class="btn btn-outline-info" href="{% url "privateCapsules" %}" >Private Capsules</a>
    </div>
    <h5>Showing Public Capsules</h5>
    <hr>
    {% for item in Capsule %}
    <div class="row row-cols-md-2 row-cols-xl-3 mb-6 mb-xl-3">
      <div class="card">
        <div class="card-body">
          <h3 class="">{{item.title}}</h3>
            <h5 class="card-title">Author :- {{item.user.username}}</h5>
            <h5 class="card-title">No. of Contributers :- {{item.contributers.count}}</h5>
            <a href="{% url "publicCapsulesCollection" item.id %}" class="btn btn-success">View Content</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock body %}

{% block script %}

<script src="{% static 'scripts/tabs.js'%}"></script>
<script>

</script>

{% endblock script %}