{% extends "base.html" %}
{% load static %}
{% block homeactive %} active {% endblock homeactive %}

{% block css %}

<style>
    #home-sec{
        display:flex;
    }
    #image{
        mergin-left:30px;
    }
</style>

{% endblock css %}

{% block body %}
<main>
    <section id="home-sec" class="flexible home-sec">
        <div class="row p-5">
            <div class=" col col-md-4 eye-grabber-img">
                <img id="image" height="400px" width="600px" src="{% static "img/sleep.png" %}" alt="Image of Apples" />
              </div>
              <div class="col col-md-8 p-5 eye-grabber">
                
                <h2>
                  Patince is not the the ability to wait, But the ability to keep a good attitude while waiting
                </h2>
                <button class="btn" onclick="window.location.href = '#contact';">
                  Seal your Capsule
                </button>
              </div>
        </div>
      </section>

</main>
{% endblock body %}

