{% extends "base.html" %}
{% load static %}

{% block css %}

{% endblock css %}

{% block body %}
<div class="p-5 container">
    <div class="row-lg-12  text-center" >
        <a class="btn btn-outline-info" href="{% url "publicCapsules" %}" >Public Capsules</a>
        <a class="btn btn-outline-info" href="{% url "privateCapsules" %}" >Private Capsules</a>
    </div>
    <h5>Showing Private Capsules</h5>
    <hr>
    {% for item in pc %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h3 class="">{{item.title}}</h3>
            <h5 class="card-title">Author:- {{item.user.username}}</h5>
            {% if item.future_date.date == today_date %}
            <a href="#" class="btn btn-success">Open</a>
            {% else %}
            <a href="#" class="btn btn-danger disabled">Sealed till - {{item.future_date.date}}</a>
            {% endif %}
        </div>
      </div>
    {% endfor %}
</div>

{% endblock body %}

{% block script %}

<script src="{% static 'scripts/tabs.js'%}"></script>
<script>

</script>

{% endblock script %}