<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
  </head>
    <body style="font-family: Arial, sans-serif; color: #333; background-color: #f5f5f5; padding: 20px;">
        <div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
            <h2 style="color: #007bff; text-align: center;">Welcome to TimeCapsule!</h2>
            <hr style="border: 1px solid #ccc;">
            <p style="font-size: 16px;">Dear <b>{{username}}</b>,</p>
            <p style="font-size: 16px;">Congratulations! Your new TimeCapsule "<b>{{title}}</b>" has been successfully created.</p>
            <p style="font-size: 16px;">Get ready to wait(Just Kidding) for the memories that will last a lifetime. Whether it's photos, videos, or heartfelt messages, we're here to help you preserve and cherish every moment.</p>
            <p style="font-size: 16px;">Don't Worry we will inform you a Day before the Opening date.</p>
            <p style="font-size: 16px;">Thank you for choosing TimeCapsule. We look forward to seeing what you'll add to your capsule!</p>
            <p style="font-size: 16px;"><b>Warm regards,</b><br>
            The <strong>TimeCapsule Team</strong></p>
        </div>
    </body>
</html>